﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Table solid frame*/
table, 
th, 
td {
    border: 1px solid black;
    border-collapse: collapse;
}

body, .sidebar {
    height: 100%
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
}
