﻿@{
    ViewBag.Title = "Dashboard";
}

<script type="text/javascript">
    setInterval(function () {
        $.ajax({
            url: '@Url.Action("Refresh", "OMC")',
            type: "POST",
            success: function (result)
            {                
                console.log('refresh');
                $.each(result, function (key, item)
                    {
                        var divLA = "#LA_" + item.InstanceID;
                        var divLE = "#LE_" + item.InstanceID;
                        var divLO = "#LO_" + item.InstanceID;
                        var divLAI = "#LAIMAGE_" + item.InstanceID;
                        var divLEI = "#LEIMAGE_" + item.InstanceID;
                        $(divLA).html("A: " + item.LastAlive);
                        if (item.LastError === "-") {
                            $(divLE).html("-");
                        }
                        else
                        {
                            $(divLE).html("E: " + item.LastError);
                        }
                        if (item.LastOrder === "-") {
                            $(divLO).html("-");
                        }
                        else {
                            $(divLO).html("O: " + item.LastOrder);
                        }
                        if (item.LastAliveImage === "RED") {
                            $(divLAI).attr("src", "../images/RED_40_40.png");
                            $(divLAI).attr("alt", "Red");
                        }
                        if (item.LastAliveImage === "GREEN") {
                            $(divLAI).attr("src", "../images/GREEN_40_40.png");
                            $(divLAI).attr("alt", "Green");
                        }
                        if (item.LastAliveImage === "GRAY") {
                            $(divLAI).attr("src", "../images/GRAY_40_40.png");
                            $(divLAI).attr("alt", "Gray");
                        }
                        if (item.LastAliveImage === "YELLOW") {
                            $(divLAI).attr("src", "../images/YELLOW_40_40.png");
                            $(divLAI).attr("alt", "Yellow");
                        }
                        if (item.LastErrorImage === "RED") {
                            $(divLEI).attr("src", "../images/RED_40_40.png");
                            $(divLEI).attr("alt", "Red");
                        }
                        if (item.LastErrorImage === "GREEN") {
                            $(divLEI).attr("src", "../images/GREEN_40_40.png");
                            $(divLEI).attr("alt", "Green");
                        }
                        if (item.LastErrorImage === "GRAY") {
                            $(divLEI).attr("src", "../images/GRAY_40_40.png");
                            $(divLEI).attr("alt", "Gray");
                        }
                        if (item.LastErrorImage === "YELLOW") {
                            $(divLEI).attr("src", "../images/YELLOW_40_40.png");
                            $(divLEI).attr("alt", "Yellow");
                        }
                    }
                );
            },
            error: function (result) { alert("Problem Occured"); },
        });
    }, 10000);
</script>
<h3 class="text-center">Dashboard</h3>
<br />
<br />
<div class="container">
    @{
        //int rowCount = ViewBag.data.Count / 6 + 1;
        <div class="row">
        @for (int i = 0; i < ViewBag.data.Count; i++)
        {
            <div class="col-md-2">
                <div id ="@ViewBag.data[i].InstanceID" class="thumbnail" style="background-color:lightgray">
                    <div class="caption">
                        <a class="h3" style="margin:auto; text-align:center; display:block;" href="@Url.Action(@"Details\"+ ViewBag.data[i].InstanceID.ToString(), @"OMC")">@ViewBag.data[i].SiteCD</a> 
                    </div>
                    <p align="center" style="color:black"><b>@ViewBag.data[i].Name</b></p>
                    <p align="center" style="color:black">@ViewBag.data[i].Host</p>
                    <p align="center">
                        @if (ViewBag.data[i].LastAliveImage == "GREEN")
                        {
                            <img id="LAIMAGE_@ViewBag.data[i].InstanceID" src="~/images/GREEN_40_40.png" alt="Green">
                        }
                        @if (ViewBag.data[i].LastAliveImage == "RED")
                        {
                            <img id="LAIMAGE_@ViewBag.data[i].InstanceID" src="~/images/RED_40_40.png" alt="Red">
                        }
                        @if (ViewBag.data[i].LastAliveImage == "GRAY")
                        {
                            <img id="LAIMAGE_@ViewBag.data[i].InstanceID" src="~/images/GRAY_40_40.png" alt="Gray">
                        }
                        @if (ViewBag.data[i].LastAliveImage == "YELLOW")
                        {
                            <img id="LAIMAGE_@ViewBag.data[i].InstanceID" src="~/images/YELLOW_40_40.png" alt="Yellow">
                        }
                        @if (ViewBag.data[i].LastErrorImage == "GREEN")
                        {
                            <img id="LEIMAGE_@ViewBag.data[i].InstanceID" src="~/images/GREEN_40_40.png" alt="Green">
                        }
                        @if (ViewBag.data[i].LastErrorImage == "RED")
                        {
                            <img id="LEIMAGE_@ViewBag.data[i].InstanceID" src="~/images/RED_40_40.png" alt="Red">
                        }
                        @if (ViewBag.data[i].LastErrorImage == "GRAY")
                        {
                            <img id="LEIMAGE_@ViewBag.data[i].InstanceID" src="~/images/GRAY_40_40.png" alt="Gray">
                        }
                        @if (ViewBag.data[i].LastErrorImage == "YELLOW")
                        {
                            <img id="LEIMAGE_@ViewBag.data[i].InstanceID" src="~/images/YELLOW_40_40.png" alt="Yellow">
                        }
                    </p>
                    <div style="font-size:xx-small" id ="LA_@ViewBag.data[i].InstanceID" align="center">A: @ViewBag.data[i].LastAlive</div>
                    @if (ViewBag.data[i].LastError != "-")
                    {
                        <div style="font-size:xx-small" id="LE_@ViewBag.data[i].InstanceID" align="center">E: @ViewBag.data[i].LastError</div>
                    }
                    else
                    {
                        <div style="font-size:xx-small" id="LE_@ViewBag.data[i].InstanceID" align="center">-</div>
                    }
                    @if (ViewBag.data[i].LastOrder != "-")
                    {
                        <div style="font-size:xx-small" id="LO_@ViewBag.data[i].InstanceID" align="center">O: @ViewBag.data[i].LastOrder</div>
                    }
                    else
                    {
                        <div style="font-size:xx-small" id="LO_@ViewBag.data[i].InstanceID" align="center">-</div>
                    }

                </div>
            </div>
        }
        </div>
    }
</div>
