﻿
@{
    ViewBag.Title = "Details";
}
<h3 class="text-center">Details</h3>

<div>
    @{
        if ((ViewBag.data != null))
        {
            <div class="container body-content">
                <div class="panel panel-info">
                    <div align="center" class="panel-heading">SiteCD: <b>@ViewBag.data.SiteCD</b></div>
                    <div align="left" class="panel-body" style="background-color:lightgray">
                        <p><font color="black">Name:   <b>@ViewBag.data.Name</b></font></p>
                        <p><font color="black">Desc:   @ViewBag.data.Desc</font></p>
                        <p><font color="black">Host:   @ViewBag.data.Host</font></p>
                        <p><font color="black">Local IP:   @ViewBag.data.IP</font></p>
                        <p><font color="black">Alive:   @ViewBag.data.LastAlive</font></p>
                        <p><font color="black">Last Order:   @ViewBag.data.LastOrder</font></p>
                        @if (ViewBag.data.LastErrorImage == "RED")
                        {
                            <p><font color="red"> Error:   @ViewBag.data.LastError</font></p>
                        }
                        @if (ViewBag.data.LastErrorImage == "YELLOW")
                        {
                        <!--<p><font color="#BEF000"> Error:   @ViewBag.data.LastError</font></p>-->
                            <p><font color="yellow"> Error:   @ViewBag.data.LastError</font></p>
                        }
                        @if (ViewBag.data.LastErrorImage == "GREEN")
                        {
                            <p>Error:   @ViewBag.data.LastError</p>
                        }
                        @if (ViewBag.data.LastErrorImage == "GRAY")
                        {
                            <p>Error:   -</p>
                        }
                        @if (ViewBag.data.LastMessage != "-")
                        {
                            <p><font color="black">Message:   @ViewBag.data.LastMessage</font></p>
                        }
                        else
                        {
                            <p>Message:   -</p>
                        }
                    </div>
                    <div class="panel-footer" align="center" style="background-color:lightgray">
                        <button type="submit" id="btnErrors" name="Errors" onclick="location.href='@Url.Action("LastErrors/" + ViewBag.data.InstanceID, "OMC")'">Last Errors</button>
                        <button type="submit" id="btnMessages" name="Messages" onclick="location.href='@Url.Action("LastMessages/" + ViewBag.data.InstanceID, "OMC")'">Last Messages</button>
                        <button type="submit" id="btnHistory" name="History" onclick="location.href='@Url.Action("History/" + ViewBag.data.InstanceID, "OMC")'">History</button>
                        <button type="submit" id="btnOrders" name="Orders" onclick="location.href='@Url.Action("Orders/" + ViewBag.data.InstanceID, "OMC")'">Imported orders</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>No data</p>
        }
    }
</div>

