﻿
@{
    ViewBag.Title = "History";
}

<h3 class="text-center">History for @ViewBag.sitecd</h3>
<div>
    <div class="container body-content">
        <table style="width:100%; border: 1px solid black; border-collapse: collapse;">
            <tr style="border: 2px solid black; border-collapse: collapse;">
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Name</th>
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Description</th>
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Host</th>
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Registered</th>
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Unregistered</th>
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Last Alive</th>
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Last Error</th>
            </tr>
            @{
                foreach (var item in ViewBag.Data)
                {
                    <tr style="border: 1px solid black; border-collapse: collapse;">
                        <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.Name</td>
                        <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.Desc</td>
                        <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.Host</td>
                        <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.Registered.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        @if (item.Unregistered != new DateTime())
                        {
                            <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.Unregistered.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        }
                        else
                        {
                            <td align="center" style="border: 1px solid black; border-collapse: collapse;"> </td>
                        }
                        <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.LastAlive</td>
                        @if (item.LastError != "-")
                        {
                            <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.LastError</td>
                        }
                        else
                        {
                            <td align="center" style="border: 1px solid black; border-collapse: collapse;"> </td>
                        }
                    </tr>
                }
            }
        </table>
    </div>
</div>
