﻿
@{
    ViewBag.Title = "LastMessages";
}

<h3  class="text-center">Last Messages for @ViewBag.sitecd</h3>
<div>
    <div class="container body-content">
        <table style="width:100%; border: 1px solid black; border-collapse: collapse;">
            <tr style="border: 2px solid black; border-collapse: collapse;">
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Timestamp</th>
                <th align="center" style="border: 2px solid black; border-collapse: collapse;">Message</th>
            </tr>
            @{
                foreach (var item in ViewBag.Data)
                {
                    <tr style="border: 1px solid black; border-collapse: collapse;">
                        <td align="center" style="border: 1px solid black; border-collapse: collapse;">@item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td style="border: 1px solid black; border-collapse: collapse;">@item.Msg</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


