﻿@model OMCPortal.Models.OMCLoginModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "OMC", FormMethod.Post))
{
    <div class="container body-content">
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table align="center">
                <tr>
                    <td>&nbsp&nbsp @Html.LabelFor(a => a.UserName) &nbsp</td>
                    <td>&nbsp&nbsp @Html.TextBoxFor(a => a.UserName) &nbsp</td>
                    <td>&nbsp&nbsp @Html.ValidationMessageFor(a => a.UserName) &nbsp</td>
                </tr>
                <tr>
                    <td>
                        &nbsp&nbsp @Html.LabelFor(a => a.Password) &nbsp
                    </td>
                    <td>
                        &nbsp&nbsp @Html.PasswordFor(a => a.Password) &nbsp
                    </td>
                    <td>
                        &nbsp&nbsp @Html.ValidationMessageFor(a => a.Password) &nbsp
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center">
                        <input type="submit" value="Login" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </div>
}

